<div class="menu">
  <a href="#" class=" pconfig">P</a>
  <a href="#skills" class="icon-sidebar">
    <img src="../assets/imgs/code.svg">
  </a>
  <a href="#projects" class="icon-sidebar">
    <img src="../assets/imgs/insert_chart.svg" >
  </a>
  <a href="#contact" class="icon-sidebar">
    <img src="../assets/imgs/mail.svg" >
  </a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/pablo-neves93/" target="_blank" class="icon-social">
    <img src="../assets/imgs/linkedin.svg" >
  </a>
  <a href="https://github.com/pnmat" target="_blank" class="icon-social">
    <img src="../assets/imgs/github.svg" >
  </a>
  
</div>

<section class="main">
  <div class="content">
    <div class="left-side">
      <h1>Olá, <br>
        Eu sou o <span>P</span>ablo, <br> 
        desenvolvedor Web
      </h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>Banco de Dados</p>
  <div class="loading db"></div>

  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>

<section class="projects" id="projects">
  <h1>Portifólio e <br> Experiências</h1>

  <div class="boxes">
    <div class="box blue">
      <a href="https://pnmat.github.io/projeto-awax/home.html" target="_blank">Projeto Awax</a>
    </div>
    <div class="box red">Projeto</div>
    <div class="box blue">Projeto</div>
  </div>
  <div class="boxes">
    <div class="box orange">Projeto</div>
    <div class="box green">Projeto</div>
    <div class="box orange">Projeto</div>
  </div>
</section>

<section class="contact" id="contact">
  <h1>Entrar em <br> Contato</h1>

  <div class="form">
    <div class="row">
      <input class="input" type="text" name="" id="" placeholder="Nome" [(ngModel)]="name">
      <input class="input" type="text" name="" id="" placeholder="Email" [(ngModel)]="email">
      
    </div>
    <input class="input" type="text" name="" id="" placeholder="Assunto" [(ngModel)]="subject">
    
    <textarea class="textarea" name="" id="" placeholder="Mensagem" [(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>
